body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: #925e78;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #ccc;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #fabc2a;
  width: 0%;
  overflow: hidden;
  transition: 0.8s;
}

h1:hover::before {
  width: 100%;
}
