*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #5a6776, #ff7b74);
}

.preloader {
  position: relative;
  width: 100%;
  max-width: 290px;
  border: 2px solid #fff;
  border-bottom-width: 12px;
  border-radius: 18px 18px 0 0;
}

.preloader::before {
  display: block;
  padding-bottom: 64.5%;
  content: "";
}

.preloader__container,
.preloader__item::before,
.preloader__item::after {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.preloader__container {
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 85%;
}

.preloader__item {
  position: relative;
  flex: 1;
  height: 100%;
  transform-origin: top center;
}

.preloader__item:first-child {
  animation: first-item-animation 0.8s ease-in infinite alternate;
}

.preloader__item:last-child {
  animation: last-item-animation 0.8s ease-out infinite alternate;
}

.preloader__item::before {
  top: 0;
  width: 2px;
  height: 100%;
  content: "";
  background-color: #fff;
}

.preloader__item::after {
  bottom: 0;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  content: "";
  background-color: #fff;
}

@keyframes first-item-animation {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes last-item-animation {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
