body {
  margin: 0;
  padding: 0;
  background: #262626;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  width: 200px;
  height: 200px;
  background: rgb(149, 255, 74);
  border-radius: 50%;
  color: #000;
  font-size: 35px;
  text-align: center;
  line-height: 200px;
  font-family: 'Verdana', sans-serif;
  text-transform: uppercase;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(149, 255, 74, 0.7), 0 0 0 0 rgba(149, 255, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 60px rgba(149, 255, 74, 0),
      0 0 0 0 rgba(149, 255, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 60px rgba(149, 255, 74, 0),
      0 0 0 40px rgba(149, 255, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(149, 255, 74, 0), 0 0 0 40px rgba(149, 255, 74, 0);
  }
}
