* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #8e8dbe;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  font-size: 15em;
  text-transform: uppercase;
  background: url(https://ak.picdn.net/shutterstock/videos/3999334/thumb/1.jpg);
  background-size: 800px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 800px -800px;
  }
}
